.input-text {
    position: relative;
    width: 100%;

    .input-group {
        background-color: #fff;
        flex-wrap: unset;

        .form-control {
            border: 0;
            outline: 0;
            font-size: 20px;

            &::placeholder {
                color: #bbb;
            }
            
            &:focus {
                outline-style: none;
                box-shadow: none;
                border-color: transparent;
            }
        }

        .input-group-append {
            .input-group-text {
                background-color: #fff;
                outline: 0;
                border: 0;
                color: #bbb;
            }
        }
    }
}